
#BannerHeader h1 {
  text-align:center;
  margin:auto;
  vertical-align:middle;
  horiz-align: center
}

.PurseValuesClass {
  text-align:center;
  margin:auto;
  vertical-align:middle;
}

div.coinConsolidatorClass{
  width: 90px;
  height: 20px;
}

div.inputValuesClass{
  text-align: left;

}

div.outputValuesClass{
  text-align: center;
}

body.coinConsolidatorClass{
  background: #066283;
}

div.Notepad{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  font-size: 25px; /*sets font of "Notes:"*/
  width: 300px;
  height: 200px;
}

button.coinConsolidatorClass{
  width: auto;
  height: auto;
  border-radius: 25px;
  border: 2px solid #2d88a6;
  padding: 5px;
}




